<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalji budžeta</title>
</head>
<body>
    <h1><strong>Detalji budžeta</strong></h1>

    <p><strong>Korisnik: </strong> {{ budgets.user }}</p>
    <p><strong>Kategorija: </strong> {{ budgets.category.name|default:"Nepoznato" }}</p>
    <p><strong>Iznos: </strong> {{ budgets.amount }}</p>
    <p><strong>Datum početka: </strong> {{ budgets.start_date }}</p>
    <p><strong>Datum kraja: </strong> {{ budgets.end_date }}</p>
    <p><strong>Kreirano: </strong> {{ budgets.created_at }}</p>
    <p><strong>Zadnje ažurirano:</strong> {{ budgets.updated_at }}</p>

    <form method="get" action="{% url 'update_budget' pk=budgets.pk %}">
        <button type="submit">Uredi</button>
    </form>

    <form id="delete-form" method="post" action="{% url 'delete_budget' pk=budgets.pk %}">
        {% csrf_token %}
        <button 
            type="button" 
            style="background-color: red; color: white;" 
            onclick="confirmDelete()">Izbriši
        </button>
    </form>
    

    <a href="{% url 'budget_list' %}">Povratak</a>

    <script>
        function confirmDelete() {
            const confirmed = confirm("Jeste li sigurni da želite izbrisati ovaj budžet?");
            if (confirmed) {
                document.getElementById('delete-form').submit();
            }
        }
    </script>
    

</body>
</html>