<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Expense Category List</title>
</head>
<body>
    <h1>Expense Category List</h1>

    <form method="get" action="{% url 'add_category' %}" style="margin-bottom: 20px;">
        <button type="submit" style="padding: 10px 15px; background-color: #4CAF50; color: white; border: none; border-radius: 5px; cursor: pointer;">
            Add Category
        </button>
    </form>


    <form method="get" action="">
        <label for="created_at">Filtriraj po datumu (DD-MM-YYYY):</label>
        <input type="date" id="created_at" name="created_at">
        <button type="submit">Filtriraj</button>
    </form>

    

    {% if expenseCategories %}
        <ul>
            {% for expense in expenseCategories %}
                <li>
                    <a href="{% url 'expenseCategory_detail' expense.id %}">
                    Kategorija: {{ expense.name }}: 
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Nema kategorija!</p>
    {% endif %}
</body>
</html>
