<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Transaction List</title>
</head>
<body>
    <h1>Transaction List</h1>

    <form method="get" action="{% url 'add_transaction' %}" style="margin-bottom: 20px;">
        <button type="submit" style="padding: 10px 15px; background-color: #4CAF50; color: white; border: none; border-radius: 5px; cursor: pointer;">
            Add Transaction
        </button>
    </form>

    <form method="get" action="">
        <label for="amount">Filtriraj po iznosu:</label>
        <input type="number" id="amount" name="amount" step="1">
        <button type="submit">Filter</button>
    </form>

    {% if transactions %}
        <ul>
            {% for transaction in transactions %}
                <li>
                    <a href="{% url 'transaction_detail' transaction.id %}">
                    Datum transakcije: {{ transaction.date }}
                    Tip transakcije: {{ transaction.transaction_type|capfirst }} 
                    Iznos transakcije: {{ transaction.amount }}
                    Kategorija: ({{ transaction.category.name }})
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Nema transakcija!</p>
    {% endif %}
</body>
</html>
